#root {
  text-align: center;
}

body {
  background-color: gainsboro;
}

.selector {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.8em;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  width: 80%;
  margin: 5px;
  background-color: aqua;
}

h4 {
  text-align: left;
  margin-left: 10%;
}
